h1 Reservation 
body
    form(method="post")
        input(name="email1", type="email")
        input(name="email2", type="email")
        input(name="email3", type="email")
        input(name="email4", type="email")
        input(name="email5", type="email")
        input(name="date", type="date")
        input(name="time", type="time")
        input(type="submit", value="Rervation")