doctype html
html(lang="en")
    head

        meta(charset="UTF-8")
        meta(http-equiv='Pragma', content='no-cache')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="google-signin-client_id", content="832440413694-15midan99opv19j7nrocr79dndcnplg8.apps.googleusercontent.com")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.4/css/all.css", integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm", crossorigin="anonymous")
        //- link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="./public/css/style.css")
        title Comma
    body 
        
        header
            h1 COM'MA
        main
              

            div#welcome 
                form
                    input#roomName(type="text", required, placeholder="Room Name")
                    input#nickname(type="text", required, placeholder="Your Nickname")
                    button Enter Room
                    div#mylogin(class ="g-signin2" data-onsuccess="onSignIn")  
                    button#authorize_button(onclick='handleAuthClick()') Authorize
                    button#signout_button(onclick='handleSignoutClick()') Sign Out
            div#call(class="call")
                div#streamBox
                    div#streams
                        div#myStream(class="people1")
                            video#myFace(autoplay, playsinline, width="500", height="400")
                            h3#userNickname  
                    div#chatRoom
                        ul#chatBox
                        form#chatForm
                            input(required, type="text", placeholder="Write your chat")
                            button Send
                    div#controlers2
                        div#controlers2__column
                            select#languages
                                option(value = "1", selected) KOR to ENG
                                option(value = "2") KOR to KOR
                                option(value = "3") ENG to KOR
                                option(value = "4") ENG to ENR
                        div#controlers2__column
                            div#buttons
                            div#buttons    
                            div#buttons
                            button#startSpeech Speech
                    div#controlers
                        div#controlers__column
                            select#cameras
                        div#controlers__column
                            div#buttons
                                button#mute
                                    i(class="fas fa-microphone fa-2x unMuteIcon")
                                    i(class="fas fa-microphone-slash fa-2x muteIcon")
                            div#buttons    
                                button#camera 
                                    i(class="fas fa-video fa-2x cameraIcon")
                                    i(class="fas fa-video-slash fa-2x unCameraIcon")
                            div#buttons
                            button#leave Leave
                    
                     

                    
        aside.modal.hidden
            div.modal__box
                h2.modal__text
                button.modal__btn OK

        script(type='text/javascript').
            function init() {
                gapi.load('auth2', function() {
                    gapi.auth2.init();
                    options = new gapi.auth2.SigninOptionsBuilder();
                    options.setPrompt('select_account');
                    // 추가는 Oauth 승인 권한 추가 후 띄어쓰기 기준으로 추가
                    options.setScope('email profile openid https://www.googleapis.com/auth/user.birthday.read');
            // 인스턴스의 함수 호출 - element에 로그인 기능 추가
            // GgCustomLogin은 li태그안에 있는 ID, 위에 설정한 options와 아래 성공,실패시 실행하는 함수들
                    gapi.auth2.getAuthInstance().attachClickHandler('mylogin', options, onSignIn, onSignInFailure);
             })
            }

            function onSignIn(googleUser) {
                var access_token = googleUser.getAuthResponse().access_token
                $.ajax({
                    // people api를 이용하여 프로필 및 생년월일에 대한 선택동의후 가져온다.
                    url: 'https://people.googleapis.com/v1/people/me'
                    // key에 자신의 API 키를 넣습니다.
                    , data: {personFields:'birthdays', key:'AIzaSyC4geotSpdvbn0IgEoA1ObAOpe0eYKfXy4', 'access_token': access_token}
                    , method:'GET'
                })
                .done(function(e){
                    //프로필을 가져온다.
                    var profile = googleUser.getBasicProfile();
                    console.log(profile)
                })
                .fail(function(e){
                    console.log(e);
                })
            }
            function onSignInFailure(t){		
                console.log(t);
            }
            
        script(src='https://apis.google.com/js/platform.js?onload=init' async='' defer='')
        script(src="/socket.io/socket.io.js")
        script(src="https://apis.google.com/js/platform.js" async defer)
        script(src="/public/js/bundle.js")
