/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/public/css/reset.css ***!
  \****************************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/public/css/style.css ***!
  \****************************************************************************/
:root {
  --black-color: #212121;

  --header-background-color: #f85031;
  --main-background-color: #FFEFDC;
  --chatBox-background-color: #FFEFDC;
  --controler-background-color: #f85031;

  --green-icon-color: #23c552;
  --red-icon-color: #f10000;
  --orange-icon-color: #ff791f;
  --blue-icon-color: #2f50e4;

  --modal-box-color: #FFEFDC;
  --modal-btn-color: #FFEFDC;
}

#reservation {
  background-color: #f85031;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  color: var(--black-color);
}

header {
  width: 100%;
  height: 7vh;

  color: #FFEFDC;
  background-color: var(--header-background-color);

  display: flex;
  align-items: center;
}

header i {
  margin-left: 30px;
}

header h1 {
  margin-left: 15px;

  font-size: 150%;
  font-weight: 600;
  letter-spacing: 2px;
}

main {
  width: 100%;
  height: 93vh;

  background-color: var(--main-background-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome form {
  width: 300px;
  height: 600px;

  /* background-color: #62727b; */
  border: 2px solid var(--header-background-color);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome input {
  width: 80%;
  height: 10%;
  padding: 3px 10px;
  margin-bottom: 30px;

  color: #f85031;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;

  transition: box-shadow 0.3s ease-in-out;
}

#welcome input::placeholder {
  color: #f85031;
}

#welcome input:focus {
  box-shadow: #f85031 0px 10px 10px -12px inset,
    #f85031 0px 10px 10px -18px inset;
}

#welcome button {
  width: 80%;
  height: 10%;
  margin-top: 10px;

  color: #f85031;
  background: none;
  border: 1px solid #f85031;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  transition: all 0.1s ease-in-out;
}

#welcome button:hover {
  background-color: #c8cfdf;
  color: var(--black-color);
}

.call {
  width: 100%;
  height: 100%;
  display: flex;
}

#streamBox {
  position: relative;
  width: 100%;
  height: 100%;
}

#streamBox #streams {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#streamBox #streams video {
  width: 100%;
  height: 50%;
  border-radius: 5px;

  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
}

/* row 1 */
#streamBox #streams .people1 {
  width: 80%;
  height: 40%;
}

/* row 1 */
#streamBox #streams .people2 {
  width: 80%;
  height: 40%;
}

#streamBox #streams #userNickname {
  margin-top: 5px;
  text-align: center;
  color: rgb(240, 182, 57);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

#chatRoom {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 40%;
  background-color: var(--chatBox-background-color);
}

#chatRoom #chatBox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5px 10px;

  display: flex;
  flex-direction: column-reverse;

  overflow-y: auto;
  overflow-wrap: break-word;
  color: #6e3d00;
}

#chatRoom #chatBox li {
  letter-spacing: 100%;
  margin-bottom: 55px;
}

#chatRoom #chatBox .myChat {
  opacity: 0.6;
}

#chatRoom #chatBox .noticeChat {
  color: rgb(241, 94, 168);
}

#chatRoom #chatForm {
  position: relative;
  bottom: 50px;

  width: 100%;
  height: 50px;
  background-color: #ffe1bc;
}

#chatRoom #chatForm input {
  position: relative;

  width: 78%;
  height: 100%;
  padding: 3px 10px;

  letter-spacing: 1px;
  color: #f85031;
  background: none;
  border: none;
  outline: none;
  font-size: 16px;

  transition: all 0.3s ease-in-out;
}

#chatRoom #chatForm input::placeholder {
  color: #f85031;
}

#chatRoom #chatForm input:focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#chatRoom #chatForm button {
  position: absolute;
  top: 5%;
  right: 1%;

  width: 20%;
  height: 90%;

  /* letter-spacing: 1px; */
  text-align: center;
  color: #f85031;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  transition: all 0.25s ease-in-out;
}

#chatRoom #chatForm button:hover {
  background-color: #c8cfdf;
  color: var(--black-color);
}


#streamBox #controlers {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;

  background-color: #FFEFDC;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#streamBox #controlers #controlers__column {
  width: 10%;
  height: 100%;

  display: flex;
  align-items: center;
}

#streamBox #controlers #controlers__column:first-child {
  padding-left: 5px;
}

#streamBox #controlers #controlers__column:nth-child(2) {
  justify-content: center;
}

#streamBox #controlers #controlers__column:last-child {
  justify-content: flex-end;
  padding-right: 5px;
}

#streamBox #controlers select {
  padding: 5px 5px;

  color: #f85031;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.4);

  box-shadow: var(--header-background-color) 0px 7px 29px 0px;
}

#streamBox #controlers #buttons button {
  padding: 5px 5px;
  background: none;
  border: none;
  border-radius: 5px;

  transition: all 0.2s ease-in-out;
}

#streamBox #controlers #buttons button:hover {
  background-color: #c8cfdf;
}

#streamBox #controlers #buttons button:first-child {
  margin-right: 5px;
}

#streamBox #controlers #buttons .unMuteIcon {
  color: var(--green-icon-color);
}

#streamBox #controlers #buttons .muteIcon {
  color: var(--red-icon-color);
}

#streamBox #controlers #buttons .cameraIcon {
  color: var(--green-icon-color);
}

#streamBox #controlers #buttons .unCameraIcon {
  color: var(--red-icon-color);
}

#streamBox #controlers #leave {
  padding: 5px 5px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;

  background: var(--red-icon-color);
  color: #FFEFDC;

  transition: all 0.2s ease-in-out;
}

#streamBox #controlers #leave:hover {
  background-color: #f85031;
  color: var(--red-icon-color);
}

#streamBox #controlers #startSpeech {
  padding: 5px 5px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;

  background: var(--blue-icon-color);
  color: #FFEFDC;

  transition: all 0.2s ease-in-out;
}

#streamBox #controlers #startSpeech:hover {
  background-color: #9694f3;
  color: var(--blue-icon-color);
}

#streamBox #controlers #language {
  padding: 5px 5px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;

  background: var(--orange-icon-color);
  color: #f5bd79;

  transition: all 0.2s ease-in-out;
}

#streamBox #controlers #language:hover {
  background-color: #e8dbe9;
  color: var(--orange-icon-color);
}

/*control column2 추가 */

#streamBox #controlers2 {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;

  background-color: #FFEFDC;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#streamBox #controlers2 #controlers2__column {
  width: 10%;
  height: 100%;

  display: flex;
  align-items: center;
}

#streamBox #controlers2 #controlers2__column:first-child {
  padding-left: 5px;
}

#streamBox #controlers2 #controlers2__column:nth-child(2) {
  justify-content: center;
}

#streamBox #controlers2 #controlers2__column:last-child {
  justify-content: flex-end;
  padding-right: 5px;
}

#streamBox #controlers2 select {
  padding: 5px 5px;

  color: #f85031;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.4);

  box-shadow: var(--header-background-color) 0px 7px 29px 0px;
}

#streamBox #controlers2 #buttons button {
  padding: 5px 5px;
  background: none;
  border: none;
  border-radius: 5px;

  transition: all 0.2s ease-in-out;
}

#streamBox #controlers2 #buttons button:hover {
  background-color: #c8cfdf;
}

#streamBox #controlers2 #buttons button:first-child {
  margin-right: 5px;
}

#streamBox #controlers2 #buttons .unMuteIcon {
  color: var(--green-icon-color);
}

#streamBox #controlers2 #buttons .muteIcon {
  color: var(--red-icon-color);
}

#streamBox #controlers2 #buttons .cameraIcon {
  color: var(--green-icon-color);
}

#streamBox #controlers2 #buttons .unCameraIcon {
  color: var(--red-icon-color);
}

#streamBox #controlers2 #leave {
  padding: 5px 5px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;

  background: var(--red-icon-color);
  color: #FFEFDC;

  transition: all 0.2s ease-in-out;
}

#streamBox #controlers2 #leave:hover {
  background-color: #f85031;
  color: var(--red-icon-color);
}

#streamBox #controlers2 #startSpeech {
  padding: 5px 5px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;

  background: var(--blue-icon-color);
  color: #FFEFDC;

  transition: all 0.2s ease-in-out;
}

#streamBox #controlers2 #startSpeech:hover {
  background-color: #9694f3;
  color: var(--blue-icon-color);
}

#streamBox #controlers2 #language {
  padding: 5px 5px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;

  background: var(--orange-icon-color);
  color: #f5bd79;

  transition: all 0.2s ease-in-out;
}

#streamBox #controlers2 #language:hover {
  background-color: #e8dbe9;
  color: var(--orange-icon-color);
}

/* 여기까지 column2*/

.modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal__box {
  width: 500px;
  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 30px;

  background-color: var(--modal-box-color);
}

.modal__text {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}

.modal__btn {
  margin-top: 40px;
  padding: 5px 30px;

  background-color: var(--black-color);
  color: var(--modal-btn-color);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;

  transition: all 0.25s ease-in-out;
}

.modal__btn:hover {
  background-color: var(--modal-btn-color);
  color: var(--black-color);
}

.hidden {
  display: none;
}
